body {
  margin: 0;
  padding: 0;
  overflow: hidden;

}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.back {
  height: 100vh;
  width: 210vh;
  background-image: url(FGA.jpg);
  background-size: cover;
  margin-right: 0;
}

.guys {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-position: center;
  background-image: url(RA.png);
  background-repeat: no-repeat;
}
